<!--
  Generated template for the InsertScoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="twitter">
    <ion-title>Insert Scores...Hi, {{name}}!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="insertScores" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/istock_all_sports_images.jpg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-item>
      <ion-label>Tournament(s)</ion-label>
      <ion-select [(ngModel)]="selectedTournament" (ngModelChange)="populateTeam(selectedTournament)">
        <ion-option *ngFor="let tournament of tournaments" [value] = "tournament">{{tournament}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isTournamentScorePresent">
      <ion-label>TeamA</ion-label>
    <ion-select [(ngModel)]="selectedTeamA" (ngModelChange)="populateTeamB(selectedTeamA)">
      <ion-option *ngFor="let teamA of teamsPerTournamentObj" [value] = "teamA.Team_A_Name">{{teamA.Team_A_Name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="isTournamentScorePresent && isTeamBPresent">
    <ion-label>TeamB</ion-label>
    <ion-select  [(ngModel)]="selectedTeamB" (ngModelChange)="populateTeamWinnerList(selectedTeamB)">
      <ion-option *ngFor="let teamB of teamBList" [value] = "teamB.Team_B_Name">{{teamB.Team_B_Name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="isTournamentScorePresent && isTeamBPresent && winnersList">
    <ion-label>Select Winners</ion-label>
    <ion-select  [(ngModel)]="winner" (ngModelChange)="register(winner)">
      <ion-option *ngFor="let team of teams" [value] = "team">{{team}}</ion-option>
    </ion-select>
  </ion-item>

    <button *ngIf="isTournamentScorePresent && isTeamBPresent && winnersList" ion-button class="submit-btn" full type="submit" (click)="submitWinner()">Submit Scores</button>



</ion-content>
